
@{
    ViewBag.Title = "No";
    Layout = null;
}

<form class="form-control" method="post" >
    <label class="">Add Your Message</label>
    <input type="text" name="Message" class="" />
    <input type="submit" value="Send"/>
</form>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />

