USE [RGameDb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 05/07/2021 17:00:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 05/07/2021 17:00:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Games]    Script Date: 05/07/2021 17:00:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Games](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[DownloadLink] [nvarchar](max) NOT NULL,
	[Confirm] [nvarchar](max) NULL,
	[CreateDate] [datetime] NOT NULL,
	[Size] [real] NOT NULL,
	[Language] [nvarchar](max) NOT NULL,
	[Processor] [nvarchar](max) NOT NULL,
	[RamSize] [int] NOT NULL,
	[GraphicsCard] [nvarchar](max) NOT NULL,
	[DiskSpace] [nvarchar](max) NOT NULL,
	[UserId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[GamePhoto] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Games] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 05/07/2021 17:00:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SiteIcon] [nvarchar](max) NULL,
	[Footer] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Settings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 05/07/2021 17:00:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[PhoneNumber] [int] NOT NULL,
	[Role] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[UserPhoto] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NOT NULL,
	[EmailPassword] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name]) VALUES (1, N'Child')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2, N'Fight')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (3, N'Car')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Games] ON 

SET IDENTITY_INSERT [dbo].[Games] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Surname], [Email], [PhoneNumber], [Role], [Password], [Description], [UserPhoto], [Name], [EmailPassword]) VALUES (1, N'Qelenderli', N'asyababanli@gmail.com', 559122536, N'User', N'AKP3f3O/C7X3PTnuoV26ISXR2VXM8vyB/pQUNPFMf6j2qQ2PIrNjGVf2OYy4ns/Oyg==', N'Salam bu Ruslanin profilidir.', N'210429113537WhatsApp Image 2021-04-08 at 10.30.25 (1).jpeg', N'Ruslan', N'123')
INSERT [dbo].[Users] ([Id], [Surname], [Email], [PhoneNumber], [Role], [Password], [Description], [UserPhoto], [Name], [EmailPassword]) VALUES (3, N'Qelenderli', N'rqelenderli7@gmail.com', 559122536, N'Admin', N'AKP3f3O/C7X3PTnuoV26ISXR2VXM8vyB/pQUNPFMf6j2qQ2PIrNjGVf2OYy4ns/Oyg==', N'Salam', N'210429113537WhatsApp Image 2021-04-08 at 10.30.25 (1).jpeg', N'Ruslan', N'rgame123+!')
INSERT [dbo].[Users] ([Id], [Surname], [Email], [PhoneNumber], [Role], [Password], [Description], [UserPhoto], [Name], [EmailPassword]) VALUES (4, N'Melikov', N'ferid@gmail.com', 559122536, N'User', N'AEA4zr17x9LTkZhM0jnlz8Qo1Aa86XJI7qSngiI0UpjzKIfPkoECwlgeTnmAaT7ufw==', N'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry''s standard dummy text ever since.', N'210429183431pp (1).jpg', N'Ferid', N'123')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Games]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Games_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Games] CHECK CONSTRAINT [FK_dbo.Games_dbo.Categories_CategoryId]
GO
ALTER TABLE [dbo].[Games]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Games_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Games] CHECK CONSTRAINT [FK_dbo.Games_dbo.Users_UserId]
GO
